body {
  display: flex;
  background-color: #1f2923;
  font: roboto;
  color: #f9faf8;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  margin: 15px;
}
a {
  color: #f9faf8;
  font-size: 24px;
  margin: 10px;
}

#logo {
  width: 200px;
  height: 100px;
  color: #f9faf8;
  font-size: 24px;
}

#hero{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
  margin: 15px;
  color:#E5E7EB;
  font-size:18px;
}
#heroTitle{
  font-size:48px;
  color: #f9faf8;
}

#signupHero{
  border-radius: 0.5em;
  background-color: #3882F6;
  color: #E5E7EB;
}
#onePiece {
  height: 200px;
  width: 200px;
  justify-content: space-around;
}
#OnepieceImg {
  width: auto;
  max-height: 100%;
}

#information{
  background-color: #f9f9f9;
}
#infoImage{
  display: block;
  color: #1f2937;
  margin: 20px;
  font-size: 38px;
  text-align: center;
}
#images{
  display: flex;
  color:#1f2923;
  flex-wrap: wrap;
  justify-content: center; 
}
.personaje img {
  height: 200px;
  width: 200px;
}

#quotation{
  background-color: #E5E7EB;
  font-size: 36px;
  color:#1f2937;
  display:flex;
}

#quotationWrapper{
  height: max-content;
  width: 50%;
  margin: 0 auto;
}

#idauthor{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  }

#wraperSectionCallToAction{
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#wrapperSmallCallToAction{
  display: flex;
  flex-direction: row;
  background-color: #3882F6;
  color: #f9faf8;
  width: 50%;
  padding: 20px 50px;
  margin: 50px;
  border-radius: 10px;
  justify-content:space-around;
}

#textCallToAction{
  display:flex;
  flex-direction: column;
}

#signUpCallToAction{
  border: 1px solid #E5E7EB;
  border-radius: 0.5em;
  background-color: #3882F6;
  color: #E5E7EB;
}

#footer{
  text-align: center;
  margin: 50px;
}
